.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 417px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #2cccc4, #478ac9);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 4px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Alata;
  margin: 30px auto 0;
  padding: 25px 79px 26px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 417px;
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 355px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 249px;
  }
}