 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 525px;
  font-family: "Open Sans", sans-serif;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 619px;
  margin: 12px 237px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 299px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/ome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: Alata;
  margin: 49px auto 0 317px;
  padding: 8px 56px 9px 55px;
}

.u-section-1 .u-icon-1 {
  color: rgb(219, 84, 90) !important;
  font-size: 1.25em;
  margin-left: 5px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  font-family: Alata;
  margin: -60px 306px 60px auto;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.25em;
  margin-left: 5px;
  vertical-align: 0px;
  transition-duration: 0.5s;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Alata;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    font-family: Alata;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-1 .u-text-3 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -125px;
    margin-left: 117px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 65px;
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -68px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 179px;
  }
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  color: #db545a !important;
}